%h1
  Recce Consultancy and Code

%p
  Hi, my name is Klaas. I do consultancy and write code.
  %br
  If you require my services, please ping me on
  %a{ href: "http://www.twitter.com/spllr", title: "Klaas on twitter" }
    twitter
  or send me an  
  %a{ href: "mailto:klaas@recce.nl", title: "Mail Klaas" }
    email
  \.

%p
  I have experience with several languages.
  %br
  Recently I have mostly been working with Ruby, JavaScript and some Cocoa.
  
%p
  I also do operations for
  %a{ href: "http://www.appsterdam.rs", title: "Appsterdam", target: "_blank" }
    Appsterdam
  \.

%ul
  %li
    Twitter: 
    %a{ href: "http://www.twitter.com/spllr", title: "Klaas on twitter" }
      @spllr
  %li
    Linkedin:
    %a{ href: "http://www.linkedin.com/pub/klaas-speller/8/507/322", title: "Klaas on Linkedin" }
      Klaas Speller
